body {
  font-family: Arial;
}

.searchWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 20px 0 20px 0;
}

#search {
  font-size: 14px;
  border: 1px solid #d1d1d1;
  color: #000;
  flex-basis: 45%;
  padding: 13px 15px 13px 20px;
  border-radius: 25px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  &:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  display: inline-flex;
  position: relative;
  margin: 0px 0px 8px 30px;
  box-shadow: 1px 1px 1px #dddddd;
  overflow: hidden;
  > {
    .image {
      flex: 1;
    }
    .name {
      border: none;
      width: 100%;
      /*   position: absolute; */
      height: 12px;
      bottom: 0;
      padding: 15px 0 15px 13px;
      margin-right: -13px;
      line-height: 12px;
      font-size: 20px;
      font-weight: lighter;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: 200px;
    height: 234px;
    > .image {
      width: 200px;
    }
  }
}

@media screen and (min-width: 768px) {
  .item {
    flex-basis: 262px;
    height: 307px;
    > .image {
      width: 262px;
    }
  }
}

.message {
  font-weight: lighter;
  font-size: 25px;
  position: relative;
  padding: 10px;
  padding-left: 35px;
  margin: 30px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: #BBB;
  color: #FFF;
  display: flex;
  justify-content: center;
  &.error {
    background: #C43;
  }
}